<div class="app-panel">
  <div class="app-title">Password Generator</div>
  <div>
    <label>Password Length</label>
    <input type="number" [(ngModel)]="passwordLength"/>
  </div>
  <div class="option-container">
    <div class="option-item" *ngFor="let option of options | keyvalue">
      <input type="checkbox" [checked]="options[option.key]" (change)="setOption(option.key)" />
      <label>{{option.key}}</label>
    </div>
  </div>
  <div>
    <button (click)="onSubmit()">Generate!</button>
  </div>
  <div class="password">
    <label>{{password}}</label>
  </div>
  <div [class]="getClipboardClass()">
    <button (click)="onCopy()">Copy to Clipboard</button>
  </div>
</div>